<ion-header translucent>
  <ion-toolbar>
    <ion-icon routerLink="" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-label>NOM</ion-label>
      <ion-label>PRENOM</ion-label>
      <ion-label>TELEPHONE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
      <ion-label></ion-label>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
