<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title>
      Segments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-segment (ionChange)="segmentChanged($event)"  value="liste">
  <ion-segment-button name="liste" value="liste">
    <ion-label>Liste</ion-label>
  </ion-segment-button>
  <ion-segment-button name="groupe" value="groupe">
    <ion-label>Groupe</ion-label>
  </ion-segment-button>
  <ion-segment-button name="enemies" value="details">
    <ion-label>Détails</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- le bouton d'en bas avec deux menus -->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="warning">
    <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="dark">
      <ion-icon color="light" name="people-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark">
      <ion-icon color="light" name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<div *ngIf="segment=='liste'">
<!-- Liste -->
<ion-list>
<!-- Sliding item with text options on both sides -->
<ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
<ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>  <ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>  <ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>  <ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>  <ion-item-sliding>
  <ion-item>
    <ion-label>Item Options</ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="unread(item)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="unread(item)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>
</div>

<!-- groupe -->
<div *ngIf="segment=='groupe'">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>bonjour</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>bonjour</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



</ion-content>
