<ion-header translucent>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>GESTAPP</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="ion-no-padding">
      <h5><strong>renseignez les champs</strong></h5>
    </ion-card-title>
    
    <form #f="ngForm" (ngSubmit)="createApp(f)">
      <ion-item>
        <ion-label>Nom et prénom</ion-label>
        <ion-input type="text" name="nom_complet" placeholder="" (ngModel)="nom_complet"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="email" name="email" placeholder="joe@gmail.com" (ngModel)="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Téléphone</ion-label>
        <ion-input type="phone" name="phone" placeholder="74845276" (ngModel)="phone"></ion-input>
      </ion-item>
      <ion-button type="submit" size="small" >Enregistrer</ion-button>
    </form>
  </ion-card>
</ion-content>
