ion-toolbar{
    color: white;
    --background: #FFA50A;
    
}
ion-icon{
    margin-left: 10px;
}
ion-title{
    margin-left: 80px;
}
h1{
    text-align: center;
}
ion-card{
    color: white;
    background-color: #FFA50A;
    padding-bottom: 50px;
    
    
}
.label{
    display: block;
	width: 150px;
	float: left;
    padding-left: 20px;
}
input{
    border: none;
    background-color: #FFA50A;
    border-bottom: 1px white solid;
    outline: none;
}
.button{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40;
    padding-top: 40;
    
    border-radius: 15px;
    text-align: center;
    color:#FFA50A ;
    background-color: white;
}

