ion-icon{
    margin-left: 10px;
}
ion-title{
    text-align: center;
}
ion-toolbar{
    color: white;
    --background: #FFA50A;
}
ion-button{
    color: white;
    --background: #FFA50A;
    padding-left: 10px;
    margin-top: 20px;
    
}
ion-card{
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}

