ion-toolbar{
    color: white;
    --background: #FFA50A;
}
h1{
    text-align: center;
}
ion-card{
    color: white;
    background-color: #FFA50A;
    padding: 40px;
    
}
label
{
	display: flex;
	width: 150px;
	float: left;
    
}
