<ion-header translucent>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>Formulaire</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>

<form #f="ngForm" (ngSubmit)="createGroup(f)">
  <ion-card>
    <ion-card-title style="font-weight: bolder;">Création des groupes d'apprenant</ion-card-title>
    <ion-card-subtitle style="color: red;">renseignez tous les champs</ion-card-subtitle>
    <ion-item>
      <label for="">Cadre du projet : </label>
      <ion-input type="text" name="projet" placeholder (ngModel)="projet"> </ion-input>
    </ion-item>
    <ion-item>
      <label for="">Nbre de groupe : </label>
      <ion-input type="number" name="nbreGroupe" placeholder (ngModel)="nbreGroupe"> </ion-input>
    </ion-item>
    <!-- <ion-item>
      <label for="">Nbre d'apprenant/grp : </label>
      <ion-input type="number" name="nbreApp" placeholder (ngModel)="nbreApp"> </ion-input>
    </ion-item> -->
    <ion-button type="submit">Créer</ion-button>
  </ion-card>
</form>
</ion-content>