ion-toolbar{
    color: white;
    --background: #FFA50A;
    
}
ion-icon{
    margin-left: 10px;
}
ion-title{
    text-align: center;
}
h1{
    text-align: center;
}
ion-card{
    color: white;
    background-color: #FFA50A; 
    padding-left: 100px;
    text-align: center;
    
 }
label
{
	display: center;
	width: 150px;
	float: left;
    margin: 0px;
    
    
}
input{
    width: 50px;
    margin: 5px;
    outline: none;
}
.button{
    --border-radius:17px;
    padding-left: 100px;
}
