<ion-header translucent>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>Formulaire</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-card>
    <div>
      <h1>Veillez choisir</h1>
    </div>
    <div class="put">
    <label for="">Nombre de groupes :</label><input type="number" /><br />
    <label for="">Nombre de membres :</label><input type="number" /><br />
    <ion-button class="button" color="primary">Enregistrer</ion-button>
    </div>
  </ion-card>
</ion-content>